/* Para pantallas medianas como tablets (max-width: 768px) */
@media (max-width: 768px) {
    .wrapper {
        padding: 20px; /* Reducir el padding para pantallas más pequeñas */
        border-radius: 15px;
    }

    .track-art {
        width: 200px;
        height: 200px; /* Reducir el tamaño de la imagen del álbum */
    }

    .track-name {
        font-size: 2rem; /* Reducir el tamaño de la fuente para el nombre de la canción */
    }

    .track-artist {
        font-size: 1.2rem; /* Reducir el tamaño de la fuente para el nombre del artista */
    }

    .now-playing {
        font-size: 0.9rem; /* Ajustar el tamaño del texto para "Now Playing" */
    }

    .seek_slider {
        width: 80%; /* Aumentar el ancho del slider en pantallas más pequeñas */
    }

    .volume_slider {
        width: 50%; /* Aumentar el ancho del control de volumen */
    }

    .buttons i {
        font-size: 1.5rem; /* Reducir el tamaño de los íconos de los botones */
    }

    .playpause-track i {
        font-size: 3rem; /* Ajustar el tamaño del botón play/pause */
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 95%;  
        padding: 8px;  
        margin-top: 5px;  
        margin-bottom: 5px; 
        max-height: 75vh;  
        overflow-y: auto;  
    }

    .track-art {
        height: 100px;  
        width: 100px;
    }

    .track-name {
        font-size: 1rem;  
    }

    .track-artist {
        font-size: 0.8rem;  
    }

    .buttons {
        display: flex;
        justify-content: space-around;  /* Distribuir los botones uniformemente */
        flex-wrap: wrap;  /* Permitir que los botones se reorganicen si es necesario */
    }

    .buttons i {
        font-size: 1.7rem;  /* Reducir un poco el tamaño de los íconos de control */
        margin: 3px;  /* Añadir un pequeño margen para dar más espacio entre los botones */
    }

    .seek_slider {
        width: 80%;  
    }

    .volume_slider {
        width: 60%;  
    }

    .current-time, .total-duration {
        font-size: 0.7rem;
    }

    /* Ajustar el contenedor del wave */
    #wave {
        margin-top: 4px;  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;  /* Ajustar la altura total del wave */
    }

    #wave .stroke {
        height: 50px;  /* Ajustar la altura de las barras del wave */
        width: 8px;    /* Ajustar el ancho de las barras */
        margin: 0 2px;  /* Ajustar el margen entre barras */
    }
}