/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .form-container {
        width: 90%; /* Ocupa el 90% del ancho en pantallas más pequeñas */
        padding: 20px; /* Reducir el padding */
    }

    .logo {
        width: 200px; /* Reducir el tamaño del logo */
    }

    .titulo-form {
        font-size: 1.6em; /* Ajustar el tamaño del título */
    }

    button {
        font-size: 1em; /* Reducir el tamaño del botón */
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 150px; /* Reducir más el tamaño del logo para móviles muy pequeños */
    }

    .titulo-form {
        font-size: 1.4em; /* Ajustar más el tamaño del título */
    }

    .form-container {
        padding: 15px; /* Reducir el padding en móviles pequeños */
    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 90%;  /* Mantener el ancho en 90% */
        padding: 10px;  /* Reducir el padding */
        margin-top: 20px;  /* Añadir margen superior */
        margin-bottom: 20px; /* Añadir margen inferior */
    }

    .track-art {
        height: 120px;  /* Reducir la imagen de la carátula */
        width: 120px;
    }

    .track-name {
        font-size: 1.2rem;  /* Reducir aún más el tamaño del nombre de la canción */
    }

    .track-artist {
        font-size: 0.9rem;  /* Ajustar el tamaño del nombre del artista */
    }

    .buttons i {
        font-size: 2.5rem;  /* Reducir los íconos de control */
    }

    .seek_slider {
        width: 85%;  /* Ajustar el slider */
    }

    .volume_slider {
        width: 70%;  /* Reducir el tamaño del slider de volumen */
    }

    /* Ajustar el tamaño del texto de la duración y el tiempo actual */
    .current-time, .total-duration {
        font-size: 0.8rem;
    }

    /* Ajustar el contenedor del wave */
    #wave {
        margin-top: 10px;  /* Espacio entre los botones y las ondas */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;  /* Reducir la altura total del wave */
    }

    #wave .stroke {
        height: 30px;  /* Reducir la altura de las barras del wave */
        width: 5px;    /* Reducir el ancho de las barras */
        margin: 0 2px;  /* Ajustar el margen entre barras */
    }
}
