@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

body {
    min-height: 100vh; /* Ensures the body fills the viewport height */
    display: flex; /* Makes body a flex container for stacking elements */
    flex-direction: column; /* Stacks elements vertically */
    background: url('img/fondo_register.jpg') no-repeat center center fixed; /* Set background on body */
    background-size: cover; /* Cover the entire viewport */
    background-position: center;
  }

  .form-register {
    width: 400px;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    border: 2px solid rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;  /* This line centers the content vertically */
    align-items: center; 
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    
  }
  
  .controls {
    width: 100%;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    font-family: 'calibri';
    font-size: 18px;
    color: #fff;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 80%;
    background: #DCCC22;
    border: none;
    padding: 12px;
    color: #000;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 20px;
  }

  .form-register .cancell {
    width: 60%;
    background: #000;
    border: none;
    padding: 12px;
    color: #DCCC22;
    margin: 16px 0;
    font-size: 9px;
    border-radius: 20px;
  }

  .form-register .cancell:hover {
    background: #DCCC22;
    color: #000;
  }